extends layout



block content
  h1= title
  p The latest files in the folder.

  p 
   div
    a(href='/') Home
   div
    a(href='/Me/folder') Videos in a Folder
   div
    a(href='/files/folder1') Files in '/folder1'
   div
    a(href='/files/folder2') Files in '/folder2'
