extends layout

block content
  h1= title
  p Welcome to #{title}


  p 
   div 
    a(href='/Users') Users 
   div 
    a(href='/Me') File details
   div
    a(href='/Me/folder') Videos in a Folder
   div
    a(href='/files') Files in a Folder