extends layout

block content
  h1= title
  p Welcome to #{title}


  p 
   div 
    a(href='/Users') Users - SSR with React
   div 
    a(href='/Me') File details
   br

   div
    a(href='/Me/folder') Videos in a Folder
   div
    a(href='/files') Files in a Folder
   br

   div
    a(href='/watch') File Watcher