/* Global style from root stylesheet */

body {
  padding: 0px;
  margin-left: 4px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #cccccc;
}

a {
  color: #00B7FF;
}

/* my app */


button {
	width: 4em;
	height: 2em;
	background-color: greenyellow;
}

ul {
	list-style: none;
	margin-left: -2em;
}

li {
	background-color: #ffe200;
	padding: 0.2em;
	margin-top: 0.2em;
}

.lText{
	padding-left: 1em;
}

#idListContainer {
	height: 15em;
	overflow: scroll;
	margin-left: -2em;
}

#idFileListContainer{
	height: 35em;
	width: 96%;
	overflow: scroll;
	margin-left: 0em;
}

