body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* my app */

button {
	width: 4em;
	height: 2em;
	background-color: greenyellow;
}

ul {
	list-style: none;
	margin-left: -4em;
}

li {
	background-color: #f0ff2f14;
	padding: 0.2em;
	margin-top: 0.2em;
}

.lText{
	padding-left: 1em;
}